[Unit]
Description=httpshell
After=syslog.target network.target

[Service]
Type=simple
User={{ py_http_shell_user }}
WorkingDirectory={{ py_http_shell_home }}
#/home/popi/http-shell
ExecStart={{ py_http_shell_home }}/venv/bin/python3 app.py
#Restart=on-abort
#EnvironmentFile=/etc/sysconfig/fooservice.env

[Install]
WantedBy=multi-user.target